body, html {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0 !important
}

header.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 1000;
    font-size: 150%;

}
header.header .navbar-brand {
    font-size: 100%;
}

ng-view  {
    height: 100%;
    display: block;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 10px;
}

ng-view.has-news {
    padding-bottom: 90px
}

ng-view.ng-enter { animation: fadeIn 2s; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;}
ng-view.ng-leave { animation: fadeOut 2s; }

footer.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-size: 48px;
}

.schedule table
{
    font-size: 200%;
}

.announcement
{
}

.announcement p.content
{
    font-size: 200%;
    margin-bottom: 80px;
}
