body, html {
    height: 100%;
}
header.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 1000;
}

div.main {
    height: 100%;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 10px;
}
div.main > ng-view {
    position: absolute;
    top:60px;
    right:0px;
    bottom:10px;
    left:0px
}

div.main.has-news {
    padding-bottom: 70px
}

div.main.has-news > ng-view {
    bottom:70px;
}

ng-view.ng-enter { animation: fadeInUp 1s; }
ng-view.ng-leave { animation: fadeOutUp 1s; }

footer.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-size: 40px;
}
@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
footer.footer .news-scroller-wrap {
    width: 100%;
    overflow: hidden;
    padding-left: 0%;
}
footer.footer .news-scroller {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    padding-right: 0%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 50s;
}
footer.footer .news-scroller-item {
    display: inline-block;
}
footer.footer .news-scroller-item:after {
    content: " • ";
    padding: 0 4rem;
}
footer.footer .news-scroller-item:last-child:after {
    content: none;
    padding: 0 4rem;
}
