body, html {
    height: 100%;
}

/* HEADER */

header.header {
    position: fixed;
    top: 1px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 1000;
    font-size: 150%;
    border-radius:0px;
    height: 55px;

}

header.header .navbar-brand {
    font-size: 150%;
}

/* CONTENT */

ng-view  {
    display: block;
    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

ng-view::-webkit-scrollbar {
    width: 0 !important;
}

ng-view.has-news {
    bottom: 90px;
}

ng-view.ng-enter { animation: fadeIn  2s; }
ng-view.ng-leave { animation: fadeOut 2s; }


.schedule table {
    font-size: 200%;
}

.schedule .schedule-item.ng-enter {
    animation: fadeInDown 1s;
}

.announcement {
}

.announcement .announcement-content {
    font-size: 200%;
}

div.middle,
div.middle > table {
    width:100%;
    height:100%;
    background-color: inherit;
}

div.middle > table > tbody > tr > td {
    text-align:center;
    vertical-align:middle;
}
div.middle > table > tbody > tr > td > p {
    font-size: 150%;
}

/* NEWS */
.news {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    padding: 5px 10px;
    margin: 0px;
    font-size: 52px;
    overflow-x: auto;
    border-radius:0px
}
.news::-webkit-scrollbar {
    height: 0 !important;
}

.news.ng-enter { animation: fadeInUp    0.5s; }
.news.ng-leave { animation: fadeOutDown 0.5s; }

.news .news-content {
    white-space: nowrap;
    display: inline-block;
    padding-right: 5px;
}
