<!DOCTYPE html>
<html lang="en" ng-controller="TemplateController as templateCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <base href="<%=baseUrl%>">
    <title>CCTV - Convention on Biological Diversity</title>
    <style>[ng\:cloak], [ng-cloak], .ng-cloak {display: none !important; }</style>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="app/libs/bootswatch-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/libs/animate.css/animate.min.css">
    <link rel="stylesheet" href="app/resources/style.css">
    <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>
</head>

<body no-cursor="5000">
    <header  ng-cloak class="header panel panel-default" ng-click="templateCtrl.completed(templateCtrl.frame)">
        <div class="panel-body">
            <div class="pull-left">
                <img src="app/resources/images/cbd-leaf-white.svg" style="height:50px;margin-right:10px">
            </div>
            <div class="pull-right text-right" style="margin-top:-20px">
                <span class="text-nowrap text-muted" style="font-size:50%;line-height:50%">{{templateCtrl.now | date:'EEEE, d MMMM'}}</span><br>
                <span class="text-nowrap text-primary">{{templateCtrl.now | date:'H:mm'}}</span>
            </div>
            <div class="header-title" style="margin-top:8px">{{templateCtrl.event.Title.en}}</div>


        </div>
    </header>

    <ng-view ng-class="{ 'has-news' : templateCtrl.news }"></ng-view>

    <div class="news panel panel-default ng-cloak" ng-animate-swap="templateCtrl.news" ng-init="newsLevels={ warning : 'text-warning', alert : 'text-danger' } ">
        <div class="news-content {{newsLevels[templateCtrl.news.content.level]}}" auto-scroll="{ orientation : 'x', autoReset:true, speed:125, open:3000, timeout:8000 }" auto-scroll-on="templateCtrl.news" auto-scroll-complete="templateCtrl.completed(templateCtrl.news)" ng-click="templateCtrl.completed(templateCtrl.news)" >
            {{templateCtrl.news.content.title}}
        </div>
    </div>

</body>

</html>
