<!DOCTYPE html>
<html lang="en" ng-controller="TemplateController as templateCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <base href="<%=baseUrl%>">
    <title>CCTV - Convention on Biological Diversity</title>
    <style>[ng\:cloak], [ng-cloak], .ng-cloak {display: none !important; }</style>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="app/libs/bootswatch-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/libs/animate.css/animate.min.css">
    <link rel="stylesheet" href="app/resources/style.css">
    <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>
</head>

<body>
    <header class="header navbar">
        <div>
            <div class="navbar-header">
                <img src="app/resources/images/cbd-leaf-white.svg" style="float:left;height:45px;margin-left:12px;">
                <span class="navbar-brand" ng-cloak>{{templateCtrl.eventGroup.Title.en}}</span>
            </div>
            <nav class="navbar-collapse" ng-cloak>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a>
                            <span class="text-muted">{{templateCtrl.now | date:'EEEE, d MMMM'}}</span>
                            <span>{{templateCtrl.now | date:'H:mm'}}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <ng-view ng-class="{ 'has-news' : templateCtrl.news }"></ng-view>

    <div class="news navbar ng-cloak" ng-animate-swap="templateCtrl.news.content.title" ngX-if="templateCtrl.news" ng-click="templateCtrl.news=null">
        <div class="container-fluid">

            {{templateCtrl.news.content.title}}

        </div>
    </div>

</body>

</html>
